.row
{
    margin-bottom: 50px;
}

.ExpImg {
    background-image: url("../assets/images/ocean.jpg");
    height: auto;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    position: relative;
}

.ExpImg:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(61,204,199, .15);
}

.expHeader {
    padding: 70px 0;
    font-family: 'Lato', sans-serif;
    color: #EEF1EF;
    font-size: 34px;
    text-align: center;
}

.ExpDate {
    text-align: left;
    letter-spacing: 0.05em;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #EEF1EF;
    font-weight: bold;
}

.ExpCont {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #EEF1EF;
    line-height: 200%;
}

.Work {
    background-image: url("../assets/images/work.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-size: 35px;
    background-color: #3DCCC7;
    border-radius: 45px;
    display: inline-block;
    float: right;
}

.Book {
    background-image: url("../assets/images/book.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    display: inline-block;
    background-size: 27px;
    background-color: #3DCCC7;
    border-radius: 45px;
    float: right;
}

.Company {
    font-family: 'Lato', sans-serif;
    color: #EEF1EF;
    font-size: 22px;
    font-weight: bold;
    text-align:left;
    letter-spacing: 0.05em;
}
