.navbar ul {
    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 16px 18px;
    overflow: hidden;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helevetica, sans-serif;
    font-size: 16px;
}

.navbar ul li a:hover:not(.active) {
    color: #7e8a99;
}

.navbar ul li .active {
    color: #1E90FF;
}
